{% extends 'base.html' %}
{% load static %}

{% block title %}Каталог – Продукты 24{% endblock %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/header.css' %}>
    <link rel="stylesheet" href={% static 'css/catalog.css' %}>
{% endblock %}

{% block content %}
    <div class="container" id="good">
        <div class="row">
            <div class="catalog-title-col">
                <h2 class="catalog-title">{{ food_type }}</h2>
            </div>
        </div>
        <div class="row justify-content-end">
            {% for good in good_list %}
            <div class="col-4 good-col">
                <div class="card good-card" onclick="window.location = '/good/{{ good.id }}'">
                    <img src={{ good.image.url }} class="card-img-top good-img" alt={{ good.title }} id="img-{{ good.id }}">
                    <div class="card-body">
                        <h5 class="card-title good-title">{{ good.title }}</h5>
                        <p class="card-text">{{ good.price }} ₽</p>
                        <a href="/good/{{ good.id }}" class="btn btn-success">Купить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src={% static 'js/img-change.js' %}></script>
{% endblock %}