.good-card {
    /* width: 18rem; */
}

#good {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.catalog-title-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#good-img {
    width: 450px;
    height: 160px;
}

#good-title {
    font-size: 2.3rem;
}

#good-price {
    font-size: 1.5rem;
    color: gray;
}

#good-description {
    color: gray;
}

.good-card:hover {
    cursor: pointer;
}

.good-title:hover {
    color: #919092;
}

.good-img {
    height: 5.5rem;
}

@media screen and (max-width: 600px) {
    .good-col {
        width: 100%;
    }    
}