.reg {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 20rem;
}

.reg-label, .reg-container {
    margin-top: 0.5rem;
}

#reg-button {
    margin-top: 2rem;
    margin-bottom: 2rem; 
    width: 100%;
}

.reg-link {
    color: black;
    text-decoration: none;
}

.reg-link:hover {
    text-decoration: underline;
}