<!-- Панель навигации -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="/">
        <i class="fa-solid fa-basket-shopping" style="color: rgb(99, 230, 190);"></i>
        Продукты 24/7
    </a>

    <!-- Кнопка бургер -->``
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarWithDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'catalog' 'all' %}>Каталог товаров</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                    Категории
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href={% url 'catalog' 'vegetables' %}>Овощи</a></li>
                    <li><a class="dropdown-item" href={% url 'catalog' 'fruits' %}>Фрукты</a></li>
                    <li><a class="dropdown-item" href={% url 'catalog' 'meat' %}>Мясо</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                {% if username %}
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ username }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" id="account-link" href={% url 'account' %}>Профиль</a>
                        <a class="dropdown-item" id="logout-link" href={% url 'logout' %}>Выйти</a>
                    </li>
                </ul>
                {% else %}
                <a href={% url 'auth' %} class="nav-link">Вход / Регистрация</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
</nav>